*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  margin: 0 auto 50px;
  padding: 0 80px;
  justify-content: space-between;
  font-size: 24px;
  background: #000;
  color: #fff;
  flex-direction: row;
  align-items: center;
}

.navbar__brand {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 12px 0;
}

.navbar__brand:hover {
    color: #f9dba0;
}

.navbar__logo {
    margin-right: 20px;
}

.main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.header__link {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s ease-in-out;
}

.header__link:hover {
  color: #f9dba0;
}

.header__logo {
  margin: 0;
  font-size: 1.5rem;
}

/* The form class is used for the form where new habits are added. It's not for
all form elements */
.form {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.form__input {
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  border: 3px solid #000;
  border-radius: 6px;
  background: #fafafa;
  margin-bottom: 1rem;
}

.form__button {
  font-size: inherit;
  background: #f9dba0;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.5rem 2.5rem;
  align-self: flex-end;
  border: none;
}

.dates {
  display: flex;
  justify-content: space-around;
  color: black;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.dates__link {
  color: inherit;
  text-decoration: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
}

.dates__link--current {
  background-color: #f9dba0;
}

.dates__link:not(.dates__link--current):hover {
  background: #e5e5e5;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dates__link:first-of-type,
.dates__link:last-of-type,
.dates__link:nth-of-type(2),
.dates__link:nth-last-of-type(2) {
  display: none;
}

@media screen and (min-width: 25rem) {
  .dates__link:nth-of-type(2),
  .dates__link:nth-last-of-type(2) {
    display: block;
  }
}

@media screen and (min-width: 35rem) {
  .dates__link:first-of-type,
  .dates__link:last-of-type,
  .dates__link:nth-of-type(2),
  .dates__link:nth-last-of-type(2) {
    display: block;
  }
}

.habit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff2d8;
  border: 3px solid black;
  border-radius: 6px;
}

.habit:not(.completed) {
  padding: 0;
}

.habit:not(.completed):hover {
  background-color: #e9cd87;
}

.habit__icon {
  width: 1em;
  height: 1em;
}

.habit__name {
  margin: 0;
}

.habit__form {
  width: 100%;
}

.habit__button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  border: none;
  background-color: unset;
  cursor: pointer;
}
