<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block head_content %} {% endblock %}
    </head>

    <body>
        <header class="header">
            <a href="{{ url_for('habits.home') }}" class="navbar__brand">
            <img class="navbar__logo" src="/static/logo.svg" alt="The Microblog logo">
                Journal & Habits
            </a>
            <h1 class="header__logo"><a href="{{ url_for('habits.habit') }}" class="header__link">Habits</a></h1>
            {% if "add" not in request.endpoint %}
                <a href="{{ url_for('habits.add_habit') }}" class="header__link">+ Add new</a>
            {% endif %}
        </header>

        <main class="main">
            <section class="dates">
                {% for date in date_range(selected_date) %}
                    <a
                    class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else ''}}"
                    href="{{ url_for('habits.habit', date=date) }}">
                        <time class="date" datetime="{{ date }}">
                            <span>{{ date.strftime("%a") }}</span>
                            <span>{{ date.strftime("%d") }}</span>
                        </time>
                     </a>
                {% endfor %}
            </section>
            {% block main_content %}
            {% endblock %}
        </main>

        <footer class="footer">
            <div class="footer__content">
                <section class="left">
                    <a class="footer__item" href="#">Made by Vladyslav Yarema</a>
                    <a class="footer__item" href="#">Check out my other projects</a>
                </section>
                <section class="right">
                    <div class="footer__column">
                        <a class="footer__item" href="{{ url_for('habits.home') }}">Recent</a>
                        <a class="footer__item" href="{{ url_for('habits.habit') }}">Habit Calendar</a>
                    </div>
                    <div class="footer__column">
                        <a class="footer__item" href="#">About</a>
                        <a class="footer__item" href="#">How it was made</a>
                    </div>
                </section>
            </div>
        </footer>
    </body>
</html>